# Node dependencies
node_modules/
**/node_modules/

# Environment variables (Very Important!)
.env
backend/.env
frontend/.env.local

# Build folders
frontend/dist/
frontend/build/

# Local logs
*.log
npm-debug.log*

# OS metadata
.DS_Store
Thumbs.db

# Project specific
backend/uploads/resumes/*
!backend/uploads/resumes/.gitkeep

backend/.env
frontend/.env
.env
.env.local